<?xml version="1.0" encoding="UTF-8"?> 
 
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"  
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
           xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"> 
  <servers> 
 	  <server> 
   	  <id>bvbdev1app4-core-acct</id> 	  
   	  <username>AKIAI7YS3VTUEQGJID3Q</username> 
 	    <password>jKwVrsZT2faaDBpUbTy/hzsYbfxVnaBuDS0jmK6y</password> 
 	  </server>    
 	  <server> 
   	  <id>bvbsit1app4-core-acct</id> 	  
   	  <username>AKIAI7YS3VTUEQGJID3Q</username> 
 	    <password>jKwVrsZT2faaDBpUbTy/hzsYbfxVnaBuDS0jmK6y</password> 
 	  </server> 
 	  <server> 
   	  <id>bvbuat1app4-core-acct</id> 	  
   	  <username>AKIAI7YS3VTUEQGJID3Q</username> 
 	    <password>jKwVrsZT2faaDBpUbTy/hzsYbfxVnaBuDS0jmK6y</password> 
 	  </server> 
 	</servers>
</settings>
