<?xml version="1.0" encoding="UTF-8"?> 
 
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"  
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
           xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"> 
  <servers> 
 	  <server> 
   	  <id>aws.amazon.com</id> 	  
   	  <username>022QF06E7MXBSH9DHM02</username> 
 	    <password>{2A16DoTRdiUHn7djDvmu4O1E1JrYg5avldQ3Khv8B4jk4MzLpzJeSrabGG8aBSSfa3b2PAvfLvVCwsl0MaRmmA==}</password> 
 	  </server>    
 	</servers>
</settings>
